*{
    box-sizing: border-box;
}

html,
body {
  color: #000000;
  background-color:#ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

.sidenav{
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



